:root {
    --branco: #ffff;
    --verde: #7ece69;
    --preto: #1b1b1b;
    --roxo: #7547d2;
    --cinza: #727272;
    --gelo: #fffafa;
    
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
}

.toolbar{
    height: 80px;
}
.menutoolbar {
    width: 50px;
    font-size: 28px;
    color: var(--preto);
}
.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner { 
    background: var(--verde);
    border-top: 1px solid var(--verde);
}

.toolbar-inner .link{  
    font-size: 20px;  
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;
    color: var(--roxo);
}

.toolbar-inner .link:not(.active){
    font-size: 14px;
    color:var(--preto);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

.top-nav{
    width: 100%;
    height: 60px;
    background: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittle-Logo{

font-weight: 600;
margin-left: 5%;

}

.tittle-Logo span {
    color: var(--roxo);
}

a {

    color: var(--roxo);
    font-weight: 600;
    text-decoration: none;

}

form{
    padding-top: 10px;
    background: var(--branco);
    padding-bottom: 20px;
    position: relative;
}

input[type="text"]{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    background: var(--gelo);
    margin:auto;
    padding: 10px 20px;
}

::placeholder{
    color: #b3afaf;
}

.icone-busca{
    position: absolute;
    top: 0px;
    right: 5%;
    font-size: 27px;
    padding: 13px;
}

.page-content{
    background-image: url('../img/Background01.png');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Altura da viewport */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}
.page-content2{
    background-image: url('../img/Background02.png');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Altura da viewport */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display:flex;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    align-items:center;
    justify-content: center;
    background: var(--gelo);

}

.img-fluid {
    max-width: 100%;
    max-height: 200px;
}

.block{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.filter-btn {
    width: 100%;
    height: 35px;
    background: none;
    border: 2px solid var(--preto);
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filter-btn:hover{      /* Muda a cor quando passa o mouse no Botão */
    background: #d6c9ed;
}
.filter-btn:focus{      /* Muda e mantem a cor quando solta o Botão */
    background: #cff5c1;
}
.filter-btn:active{     /* Muda a cor quando pressiona o Botão */
    background: #aede9b;
}
.row {
    flex-wrap: wrap;
    flex-direction: row;   
}

.item{
    border-radius: 20px;
    color: var(--preto);
}

.item-card {
    max-width: 100%; 
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    height: 100%;
    background: #d6c9ed; /*fff*/
    padding: 10px;
    border-radius: 20px;    
    border: 1px;
    margin-top: 15px;
}

.img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        overflow: hidden;   
        text-align: center;
    }

.img-container img{
    display: flex;
    max-width: 150px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: var(--gelo);
}

.color-gray {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 768px) {
.items-container {
    grid-template-columns: 1fr; 
    }
}

.items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: baseline;
    gap: 10px;
}

.mdi-star {
    color: orange;
    margin-right: 5px;
    font-size: 26px;
}

.favorite{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 75px;
}

.fav-heart {
    margin-top: 5px;
    color: palevioletred;
    font-size: 26px;
    width: 50px;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-info {
    margin-top: 10px;
    text-align: center;
}

