:root {
    --branco: #ffff;
    --verde: #7ece69;
    --preto: #1b1b1b;
    --roxo: #7547d2;
    --cinza: #727272;
    --gelo: #fffafa;
    
}
.logo{
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    display: flex;
   
    margin-bottom: 80px;
   
}
.logo img{
    max-width: 200px;
    padding-top: 60px;
    
}

.botão{
    width: 250px;
    height: 50px;
    background: var(--roxo);
    color: white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    padding-right: 8%;
    display: flex;
    white-space: nowrap;
    position: relative;
}
.botão img {
    position: absolute;
    width: 85px;
    left: 0%;
    padding-bottom: 5px;
    
    
}
.botão span{
    font-size: 16px;
    padding-left: 40%;
}
.esq-senha{ 
    display: flex;
    margin-top: 20px;
    margin-right: 35%;
    margin-left: 35%;
    justify-content: center;
    white-space: nowrap;
}
.c_icon{
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    display: flex;
    /*background: red; */
   
}
.c_icon img{
    max-width: 150px;
    
}

.buttons-top-c {
    display: flex;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px ;
}
.buttons-top-c a{
    width: 40px;
    height: 40px;
    background: #d9ffd0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px var(--gelo);
}

.div-campo{ 
    text-align: center;
    /*background: #7547d2; */
    margin-top: 10px;
}
.div-campo-b{ 
    width: 260px;
    margin: auto;
    text-align: left;
    /*background: blue; */
}
.campo-txt[type="text"]{
    width: 260px;
    height: 35px;
    border-radius: 10px;
    background: #d9ffd0;
    margin:auto;
    padding: 10px 10px;
}
.campo-txt[type="password"]{
    width: 260px;
    height: 35px;
    border-radius: 10px;
    background: #d9ffd0;
    margin:auto;
    padding: 10px 10px;
}
.campo-txt[type="email"]{
    width: 260px;
    height: 35px;
    border-radius: 10px;
    background: #d9ffd0;
    margin:auto;
    padding: 10px 10px;
}
.txt-info{
    text-align: right;
    /*background: yellow; */
}

.btn-criar-conta{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    text-align: center;
    /*background: blue; */
}
.btn-criar-conta-btn{
    width: 130px;
    height: 35px;
    border: 2px solid var(--preto);
    border-radius: 10px;
    margin-left: 150px;
    background: #d9ffd0;
    white-space: nowrap;
}
.change-icon{
    width: 80px;
    margin-top: 2px;
    margin-bottom: 8px;
}
.termos-cb{
    font-size: 10px;
    white-space: nowrap;
    color: #7547d2;
}