:root {
    --branco: #ffff;
    --verde: #19c463;
    --preto: #2a2a2a;
    --roxo: #9370DB;
    --cinza: #808080;
    --gelo: #fffafa;
    
}

.prod-detail{
    
    background: var(--gelo);
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.prod-detail img{
    max-width: 400px;
    padding: 10px;

}

.buttons-top {

    display: flex;
    width: 100%;
    position: absolute;
    top: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px ;

}

.buttons-top a{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px var(--gelo);

}


.buttons-top a:first-child{
    margin-left: 20px;
    margin-right: auto;
}

.buttons-top a:last-child{
    margin-left: 5px;
    margin-right: 20px;
}

.prod-content{
    background: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    
}

.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.line b{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 45px;
}

.btn-rates{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 10px;
    background: none;
    margin-right: 5px;
    margin-top: 10px;
    width: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;


}

.ri-thumb-up-fill{
    color: var(--roxo)
}

.reviews{
color: var(--cinza);
font-size: 17px;
}

